body {
    height: 100vh;
    width: 100%;
    margin: auto;
	font-family: Helsinki;
    /*overflow-x: hidden;
    overflow-y: hidden;*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}
.container {
    position: fixed;
    /* background-image: linear-gradient(0deg, #888888, #EEEEEE); */
    background-image: linear-gradient(0deg, #FFFFFF, #99BBFF, #2266AA);
	width: 100%;
	height: 100%;
	margin: 0em;
	padding: 0em;
    top: 0em;
    left: 0em;
    overflow-x: hidden;
    overflow-y: hidden;
}

.renderCanvas {
    position: absolute;
    top: 0em;
    left: 0em;
	width: 100%;
	height: 100%;
}

.logo {
    /*display: none;*/
    position: absolute;
    top: 6em;
    left: calc(50% - 29em);
    width: 60em;
    height: 14em;
    background-image: url('../Assets/archerychallenge-logo-medium.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 50;
}

.debugMenu {
	display: none;
	color: white;
	position: absolute;
	top: 12em;
	right: 0em;
	padding: .1em;
	background-color: rgba(60,60,60,.5);
	border-radius: .5em 0em 0em .5em;
}

.menu {
	position: absolute;
    background-image: linear-gradient(180deg, #1C81A0, #053F63);
	left: .6em;
	top: .6em;
	width: 4.2em;
	height: 3.9em;
	border-radius: 2.1em;
	padding-top: .3em;
	text-align: center;
	/*vertical-align: middle;*/
	color: #DDDDDD;
	text-shadow: 1px 1px 3px #020202;
	border: 3px solid;
    border-color: #002637; 
	box-shadow: 2px 2px 4px #020202;
}
.menu:hover {
	cursor: pointer;
	color: #888888;
}
.menuExpanded {
	display: absolute;
    position: relative;
    text-align: center;
    top: 35%;
    left: calc(25% - 2em);
	width: 50%;
    height: 25em;
    max-height: 30em;
	padding: 1.2em 2em 1.2em 2em;
    border: .4em solid;
    border-radius: .5em;
    border-color: #002637;
    background-image: linear-gradient(180deg, rgba(28,129,160,.8), rgba(5,63,99,.8)); 
	text-shadow: none;
    cursor: auto;
}
#prefMenu {
    opacity: 0;
    z-index: 999;
    transition: all 1s cubic-bezier(.25,.8,.25,1), box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}


.infoRight {
    display: none;
    position: absolute;
    right: 0em;
    top: 0em;
    width: auto;
    height: auto;
    text-align: right;
    margin: 1em;
}
.fps {
	color: white;
}
.roundInfo {
	position: relative;
	font-size: 3em;
	color: #EFEFEF;
    margin: -.2em 0em -.1em 0em;
}
.scoreInfo {
	position: relative;
	font-size: 3em;
	color: #22AAFF;
    margin: -.2em 0em -.1em 0em;
}
.arrowInfo {
	position: relative;
    float: right;
	font-size: 3em;
	color: #EFEFEF;
    margin: -.2em 0em -.1em 0em;
    width: 2.2em;
    background-image: url('../Assets/arrow_icon.png');
    background-size: auto 65%;
    background-position: left;
    background-repeat: no-repeat;
}

.sceneAlert {
    display: none;
    position: absolute;
    font-size: 4em;
    width: 12em;
    left: calc(50% - 6em);
    top: 16%;
	color: #EFEFEF;
    text-align: center;
    text-shadow: .08em .08em 2px #282828;
}
.leaderboard {
    font-size: .5em;
}

.topMenu {
	display: none;
	color: white;
	width: 22em;
	background-color: rgba(60,60,60,.85);
	border-bottom: solid 1px;
	border-color: #A8A8A8;
	border-radius: 0em 0em .5em .5em;
	height: 1.4em;
	position: absolute;
	top: 0em;
	left: calc(28% - 11em);
	padding: .2em;
}

.floatingHitScore {
    display: none;
    position: absolute;
    font-size: 3em;
    color: #EFEFEF;
    text-shadow: .08em .08em 2px #282828;
}

/*Modal CSS*/
.modal {
    position: absolute;
	font-family: Helsinki;
    width: 100%;
    height: 100%;
	text-align: center;
}
.modalSmall {
    width: auto;
    height: auto;
}
.modalUnderlay {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    opacity: .3;
	background-color: #020202;
}

.modalText {
	text-align: center;
	text-shadow: 1px 1px 3px #020202;
	font-size: 1.5em;
	color: white;	
}

.modalContainer {
	display: inline-block;
    position: relative;
    top: 35%;
    text-align: center;
	width: 46%;
    height: 50%;
    min-height: 8em;
	padding: 0em;
    z-index: 60;
}
.modalContainer-full {
    width: 10em;
    height: 10em;
    top: 0em;
    left: 0em;
}
.modalDiv {
    padding-top: 0em;
}
.modalCloseButton {
    display: none;
    position: absolute;
    color: #EEEEEE;
    font-size: 2em;
    text-align: center;
    top: -.9em;
    right: -.9em;
    width: 1.6em;
    height: 1.35em;
    padding-top: .25em;
    border-radius: 1.6em;
    border: .2em solid;
    border-color: #002637;
    background-color: rgba(28,129,160,1);
    z-index: 80;
    cursor: pointer;
    box-shadow: 0 3px 12px rgba(0,0,0,0.40), 0 2px 8px rgba(0,0,0,0.80);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}
.modalButton {
    position: relative;
	display: inline-block;
    height: 3.6em;
    top: 0em;
    width: 20em;
    min-width: 15em;
	text-shadow: 1px 1px 3px #020202;
	text-align: center;
	margin-top: .9em;
	margin-bottom: .9em;
	padding: .3em 1.2em .3em 1.2em;
	border: 3px solid;
    border-radius: .6em;
    border-color: #002637;
    background-image: linear-gradient(180deg, #1C81A0, #053F63);    
	cursor: pointer;
	box-shadow: 0 3px 6px rgba(0,0,0,0.40), 0 2px 4px rgba(0,0,0,0.80);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}
.modalButton:hover, .modalCloseButton:hover {
	box-shadow: 0 12px 20px rgba(0,0,0,0.40), 0 8px 12px rgba(0,0,0,0.40);
	color: #888888;
}
.modalButton:active, .modalCloseButton:active {
	box-shadow: 0 3px 6px rgba(0,0,0,0.40), 0 2px 4px rgba(0,0,0,0.80);
}
.buttonText {
	color: #DDDDDD;
	font-size: 3em;
    width: 100%;
    height: 100%;
}

.linbreak {
    display:block;
    height: 0em;
}

.loadingGame {
	cursor: default;
	color: #282828;
}

#about {
    transition: all 1s cubic-bezier(.25,.8,.25,1), box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}
.aboutExpanded {
    position: relative;
    top: -6em;
	width: calc(100% - 4.8em);
    height: calc(100% - 6em);
    max-height: 30em;
	padding: 1.2em 2em 1.2em 2em;
    border: .4em solid;
    border-radius: .5em;
    border-color: #002637;
    background-image: linear-gradient(180deg, rgba(28,129,160,.8), rgba(5,63,99,.8)); 
	text-shadow: none;
    cursor: auto;
}
.aboutExpanded:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.40), 0 2px 4px rgba(0,0,0,0.80);
}
.aboutExpanded:active {
	box-shadow: 0 3px 6px rgba(0,0,0,0.40), 0 2px 4px rgba(0,0,0,0.80);
}
#aboutModal {
	display: none;
    max-height: 100%;
}
.aboutGameplay {
    display: inline-block;
    width: 40%;
    height: 12em;
    margin: 1em;
    margin-top: 2em;
    background-color: #686868;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.40), 0 2px 4px rgba(0,0,0,0.80);
}
#gameplay-1 {
    background-image: url('../Assets/gameplay_1_small.png');
}
#gameplay-2 {
    background-image: url('../Assets/gameplay_1_small.png');
    background-size: 150% 150%;
    background-position: center;
}
.aboutText {
	font-family: OpenSans;
	font-size: 2em;
	color: #DDDDDD;
    padding: .3em;
}
.aboutText a {
	color: #22AAAA;
	text-decoration: none;
}.aboutText a:hover{
	color: #226666;
	text-decoration: none;
}

.descriptionText {
    display: inline-block;
    height: 1.8em;
    width: 6em;
    padding-right: .4em;
}
.keys {
    position: relative;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    border: .1em solid;
    border-color: #DDDDDD;
    border-radius: .2em;
    text-align: center;
    margin: .2em 0em .2em 0em;
}
.keyWrapper {
    display: inline-block;
    height: 3.6em;
    width: auto;
}
#WKey {
    display: block;
    text-align: center;
}
#SKey {
    display: block;
    text-align: center;
}
#SpaceKey {
    width: 4.4em;
}

#preferenceModal {
    display: none;
	color: #DDDDDD;
}
.menuTitle{
    font-size: 3em;
    margin: .4em;
}
.prefOption {
    display: inline-block;
    font-size: 2em;
    padding: .2em;
}
.optionButton {
    display: inline-block;
    font-size: 2em;
    padding: .2em;
    border: .1em solid;
    border-radius: .2em;
    border-color: #AFAFAF;
}
.optionButton:hover {
    cursor: pointer;
    color: #888888;   
}

/*END - Modal CSS*/
.startGame {
	cursor: default;
	color: #888888;
}

.points {
    display: inline-block;
    color: #22AAFF;
}

/*BEGIN Media Queries*/

@media (max-width: 62em) {
    .logo {
        top: 1em;
        left: 5%;
        width: 90%;
        height: 23vw;
    }
    .modalContainer {
        top: 20%;
    }
}

/*END Media Queries*/


@font-face {
    font-family: "Helsinki";
    src: url("../Fonts/helsinki.ttf");
}

@font-face {
    font-family: "OpenSans";
    src: url("../Fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-Semibold";
    src: url("../Fonts/OpenSans-Semibold.ttf");
}

@font-face {
    font-family: "Leo-Arrow";
    src: url("../Fonts/Leo-Arrow.ttf");
}

@font-face {
    font-family: "Didact-Gothic";
    src: url("../Fonts/DidactGothic.ttf");
}